[submodule "submodules/conv2vmx-ovf"]
	path = submodules/conv2vmx-ovf
	; url = https://gist.github.com/6650285.git
	url = https://gist.github.com/a547f58e9823b42cf0ae.git
[submodule "submodules/hr"]
	path = submodules/hr
	url = https://github.com/LuRsT/hr.git
