# SPDX-FileCopyrightText: 2015-2021 Robin Schneider <ypid@riseup.net>
#
# SPDX-License-Identifier: CC0-1.0

[submodule "submodules/conv2vmx-ovf"]
	path = submodules/conv2vmx-ovf
	; url = https://gist.github.com/6650285.git
	url = https://gist.github.com/a547f58e9823b42cf0ae.git
[submodule "submodules/hr"]
	path = submodules/hr
	url = https://github.com/LuRsT/hr.git
[submodule "submodules/sshrc"]
	path = submodules/sshrc
	url = https://github.com/buehmann/sshrc.git
[submodule "submodules/git-authors"]
	path = submodules/git-authors
	url = https://github.com/jgehrcke/git-authors.git
[submodule "submodules/ata-secure-erase"]
	path = submodules/ata-secure-erase
	url = https://github.com/TigerOnVaseline/ata-secure-erase.git
[submodule "submodules/netns"]
	path = submodules/netns
	url = https://github.com/Lekensteyn/netns
[submodule "submodules/iptables-trace"]
	path = submodules/iptables-trace
	url = https://github.com/commonism/iptables-trace
[submodule "submodules/distrib-dl"]
	path = submodules/distrib-dl
	url = https://github.com/nodiscc/distrib-dl.git
